body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #ffffff; /* Couleur de fond */
  color: black; /* Couleur de texte */
  padding: 1%;
  text-align: left;
  /*Bordure */
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

header img {
  /* Padu logo */
  max-height: 30px;
  width: auto;
}

main {
  flex: 1; /* force le main a prendre le reste de l'espace sur le plan vertical */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d14242;
  flex-direction: column;
}

.image_button {
  max-height: 50%;
  width: auto;
  background-color: transparent;
}

@media screen and (max-width: 1000px) {
  .image_button {
    max-height: 100px;
  }
}

.button,
.image_button {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
}

footer {
  margin: 0%;
  max-height: 40px;
  height: 3%;
  background-color: #d14242; /* Couleur de fond */
  color: #fff; /* Couleur de texte */
  padding: 0.5%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.aide {
  text-align: left;
}
